ALLOWED_ORIGINS = https://fide-results-statistics.vercel.app,http://localhost:3000
ALLOWED_METHODS = GET,OPTIONS,PATCH,POST
ALLOWED_HEADERS = X-CSRF-Token, X-Requested-With, Accept, Accept-Version, Content-Length, Content-MD5, Content-Type, Date, X-Api-Version